body {
    font-family: sans-serif;
    font-size: 12px;
    margin: 25px;
}

h1 {
    text-align: center;
    color: black;
    padding: 12px 0;
    font-size: 22px;
    border-radius: 4px;
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background: #4a4a4a;
    color: white;
    font-weight: bold;
    padding: 7px;
    font-size: 11px;
    border: 1px solid #000;
    text-align: left;
}

td {
    border: 1px solid #000;
    padding: 6px;
    font-size: 11px;
}

tbody tr:nth-child(even) {
    background: #ebebeb; 
}

tbody tr:nth-child(odd) {
    background: #ffffff;
}
