name: code-style

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  format-project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Install PNPM dependencies
        run: pnpm install
      - name: Run frontend formatter
        run: pnpm run format:check

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
      - name: Install Dependencies
        run: composer install -q --optimize-autoloader --no-interaction --no-scripts --no-progress --prefer-dist
      - name: Run Laravel Pint (code style)
        run: ./vendor/bin/pint --test
      