name: code-style

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  format-project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2

      - name: Run Laravel Pint (code style)
        run: ./vendor/bin/pint --test


    # - name: Run Laravel Pint (code style)
    #   run: ./vendor/bin/pint --test
    # - name: Run frontend formatter
    #   run: pnpm run format